<div class="bottom-bar">
  <div class="bottom-links">
    <a class="link" href="https://pair.withgoogle.com/" rel="noopener noreferrer"><img src="{{ "/assets/images/pair-logo.svg" | relative_url }}" /></a>
    <a class="link" href="https://research.google/teams/language/" rel="noopener noreferrer"><p>Google Research</p></a>
    <a class="link" href="https://github.com/pair-code/datacardsplaybook" rel="noopener noreferrer"><p>GitHub</p></a>
  </div>
  <div class="bottom-links">
    <a class="link" href="mailto:peopleai@google.com" rel="noopener noreferrer"><img src="{{ "/assets/images/mail.svg" | relative_url }}" /></a>
    <a class="link" href="https://medium.com/people-ai-research" rel="noopener noreferrer"><img src="{{ "/assets/images/medium.png" | relative_url }}" /></a>
    <a class="link" href="https://www.youtube.com/channel/UCnnns-uu4yy9BXfYSPIX5AA" rel="noopener noreferrer"><img src="{{ "/assets/images/youtube.svg" | relative_url }}" /></a>
  </div>
</div>
