<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TWC95HNHES"></script>
<script>
  window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-TWC95HNHES');
</script>

<title>{{ include.title }} - {{ site.title }}</title>

<meta name="description" content="The Data Cards Playbook is a collection of participatory activities and resources to help dataset creators adopt a people-centric approach to transparency in dataset documentation. The Playbook helps interdisciplinary teams build a shared understanding of transparency and create Data Cards to address the unique information needs of diverse stakeholders.">
<meta name="keywords" content="Data Cards Playbook, Transparency in datasets, Participatory design activities for data, transparency in dataset documentation how to create dataset documentation, datasets, data cards, creating dataset documentation, writing dataset documentation, create data cards">

<link rel="shortcut icon" type="image/png" href="{{ "/assets/images/favicon.png" | relative_url }}">
<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
