<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include head.html title=page.title %}
  </head>
  <body>
    <header>
      {% include header.html %}
    </header>

    <main>
      {% if page.banner %}
      <div class="banner">
        <div class="banner-text">
          <h2>{{ page.banner }}</h2>
          {% if page.action and page.link %}
          <a class="call-to-action" href="{{ page.link | relative_url }}">
            {{ page.action }}
            {% include arrow.html type=page.arrow %}
          </a>
          {% endif %}
        </div>
      </div>
      {% endif %}

      <div class="main">
          <div class="content{% if page.color %} {{ page.color }}{% endif %}">
          {{ content }}
        </div>
      </div>
    </main>

    <footer>
        {% if page.footnote %}{% include footnote.html %}{% endif %}
        {% include footer.html %}
    </footer>
  </body>
</html>
