<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include head.html title=page.title %}
  </head>
  <body>
    <header>
      {% include header.html %}
    </header>

    <main>
      {% if page.banner %}
        <div class="banner">
          <div class="banner-text">
            <h2>{{ page.banner }}</h2>
            {% if page.action and page.link %}
              <a class="call-to-action" href="{{ page.link | relative_url }}">
                {{ page.action }}
                <img class="arrow" aria-hidden="true" src="{{ "/assets/images/arrow_internal_white.svg" | relative_url }}" />
              </a>
            {% endif %}
          </div>
        </div>
      {% endif %}

      <div class="main">
        <div class="content">
          {{ content }}
        </div>
      </div>
    </main>

    <footer>
        {% include footnote.html %}
        {% include footer.html %}
    </footer>
  </body>
</html>
